.spinner {
    /* Your styling */
    background-color: aqua;
    animation: spin 1s linear infinite; /* Required */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.country-card {
    background-color: #313131;
    padding: 2rem;
}

.border-grid {
    display: grid; /* or display: flex */
    /* Additional layout properties */
}

.error {
    color: red;/* error color */
    /* Additional styling */
}

.hidden {
    display: none;
}